.App {width: 100%;}
.loginform {width: 300px; height: 300px;margin: 0 auto;}
.loginform p {display: flex;justify-content: space-between;}
.loginBtn {display: block;margin: 0 auto;}


.newbiBtn {display: block; margin: 0 auto;}